@import url('../../global.styles.scss');

.about-me-container {
    min-height: 50rem;
    padding-top: 6rem;
    padding-bottom: 7rem;
    padding-inline: 1rem;
    max-width: 1500px;
    margin: 0 auto;
}

.cube-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 1s;
}

@keyframes curve {
    0%, 100% {
      transform: rotate(0deg);
    }

    50% {
      transform: rotate(10deg);
    }
  }

.section-title-container {
  position: relative;
  width: 30rem;
  margin-bottom: 5rem;

  opacity: 0;
  transition: all 1s;

  img {
    animation: blink 1s infinite;
  }

  .section-title {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    color: #fff;
  }

  @media only screen and (max-width: 799px) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 60%;
    }

    .section-title {
      font-size: 4.5vw;
    }
  }

  @media only screen and (max-width: 550px) {
    img {
      width: 100%;
    }

    .section-title {
      font-size: 8vw;
    }
  }
}

.cube-container {
  display: flex;
  justify-content: center;

  opacity: 0;
  transition: all 1s;

  @media only screen and (max-width: 799px) {
    margin-top: 3rem;
  }
}

.cube-wrap {
  position: relative;
  width: 31rem;
  height: 31rem;

  .rotate-me {
    position: absolute;
    top: -14%;
    right: -30%;
    height: 13%;
    z-index: 10;
    animation: curve 1s infinite;
  }

  @media only screen and (max-width: 799px) {
    width: 22rem;
    height: 22rem;

    .rotate-me {
      right: -18%;
    }
  }

  @media only screen and (max-width: 500px) {
    .rotate-me {
      right: -9%;
      top: -18%;
    }
  }
}

.face {
  width: 100%;
  height: 100%;
  padding-inline: 3rem;
  text-align: center;
  font-size: 1.1rem;
  display: flex;
  align-items: center;

  @media only screen and (max-width: 799px) {
    font-size: .85rem;
    padding-inline: 1.5rem;
  }
}

.show {
  opacity: 1;
}

.dark-section {
  color: #fff;
  .cube-wrapper .cube .cube-face {
    background-color: var(--blackblue);
    color: #fff;
  }

  .skills-data-container {
    background-color: var(--blackblue);
  }

  .skill-icon {
    background-color: var(--darkblue);
  }

  .slider {
    background-color: var(--blackblue);
  }

  .group .form-input {
    background-color: var(--blackblue);
  }

  .group .form-input-label {
    color: var(--white);
  }

  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
      background-color: #fff;
  }
}