@import url('../../global.styles.scss');

.about-me-container {
    height: 100vh;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: .2;
    }
}

.about-content {
    width: 60%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;

    p {
        position: absolute;
        padding: 10rem;
    }
}