@import '../../global.styles.scss';

.introduction-container {
  height: 55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1500px;
  margin: 0 auto;

  @media only screen and (max-width: 1023px) {
    flex-direction: column-reverse;
    padding-inline: 2rem;
    align-items: center;
    height: 50rem;
    padding-top: 1rem;
  }

  @media only screen and (max-width: 799) {
    padding-top: 7rem;
    justify-content: flex-end;
  }
}

.information {
  position: relative;
  background-color: var(--blackblue);
  padding-block: 4rem;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid var(--semidarkblue);
  border-radius: 1rem;
  margin-inline: 1rem;

  opacity: 0;
  transition: all 1s;

  &:hover {
    border-color: var(--lightblue);
    box-shadow: 0 0 60px rgba(120, 204, 226, 0.8);
  }

  .text {
    padding-bottom: 2.5rem;
    padding-inline: 1rem;
  
    .name {
      line-height: .8;
    }
  }

  @media only screen and (max-width: 1023px) {
    width: inherit;
    padding: 2rem 2.5rem;
    margin-inline: 0;
  }
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.avatar-container {
  margin-inline: 1rem;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: all 1s;

  .rotating-img-container {
    z-index: 1;
    
    @media only screen and (max-width: 1023px) {
      height: 100%;
    }
  }

  .avatar {
    width: 55%;
    position: absolute;

    img {
      border-radius: 50%;
    }
  }
}

.rotating {
  display: inline-block;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.glitch { 
  position: relative; 
  animation: glitch1 2.5s infinite; 
  -moz-animation: glitch1 2.5s infinite; 
  -webkit-animation: glitch1 2.5s infinite; 
  -o-animation: glitch1 2.5s infinite;
} 

.glitch:before, 
.glitch:after { 
  content: attr(data-text); 
  position: absolute; 
  left: 0px; 
  right: 0px; 
  top: 0px; 
  bottom: 0px; 
} 

.glitch:before { 
  color: var(--lightblue); 
  animation: glitch2 2.5s infinite; 
  -moz-animation: glitch2 2.5s infinite; 
  -webkit-animation: glitch2 2.5s infinite; 
  -o-animation: glitch2 2.5s infinite; 
} 

.glitch:after { 
  color: #fff; 
  animation: glitch3 2.5s infinite; 
  -moz-animation: glitch3 2.5s infinite;
  -webkit-animation: glitch3 2.5s infinite; 
  -o-animation: glitch3 2.5s infinite; 
} 

@keyframes glitch1 {
  0% {
    transform: none;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
  }
  10% {
    transform: none;
  }
  27% {
    transform: none;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
  }
  35% {
    transform: none;
  }
  52% {
    transform: none;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
  }
  50% {
    transform: none;
  }
  72% {
    transform: none;
  }
  75% {
    transform: skew(0.4deg, 1deg);
  }
  80% {
    transform: none;
  }
  100% {
    transform: none;
  }
} 

@keyframes glitch2 {
  0% {
    transform: none;
  }
  7% {
    transform: translate(-2px, -3px);
  }
  10% {
    transform: none;
  }
  27% {
    transform: none;
  }
  30% {
    transform: translate(-5px, -2px);
  }
  35% {
    transform: none;
  }
  52% {
    transform: none;
  }
  55% {
    transform: translate(-5px, -1px);
  }
  50% {
    transform: none;
  }
  72% {
    transform: none;
  }
  75% {
    transform: translate(-2px, -6px);
  }
  80% {
    transform: none;
  }
  100% {
    transform: none;
  }
} 

@keyframes glitch3 {
  0% {
    transform: none;
  }
  7% {
    transform: translate(2px, 3px);
  }
  10% {
    transform: none;
  }
  27% {
    transform: none;
  }
  30% {
    transform: translate(5px, 2px);
  }
  35% {
    transform: none;
  }
  52% {
    transform: none;
  }
  55% {
    transform: translate(5px, 1px);
  }
  50% {
    transform: none;
  }
  72% {
    transform: none;
  }
  75% {
    transform: translate(2px, 6px);
  }
  80% {
    transform: none;
  }
  100% {
    transform: none;
  }
}

.show {
  opacity: 1;
}