@import '../../global.styles.scss';

@keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
}

.introduction-container {
  height: 58rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.information {
  position: relative;
  width: 50%;
  padding-left: 1rem;

  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .color-changing-container span {
    transition: color 0.5s;
    display: inline-block;
    color: white; /* Initial color */
  
    &:nth-child(4),
    &:nth-child(9) {
      margin-right: 10px;
    }
  }
  
  .color-changing-container span.change {
    color: red; /* Target color */
  }
  
  .text {
    padding-bottom: 2.5rem;
  
    .name {
      line-height: .8;
    }
  }
}

.avatar-container {
  position: relative;
  width: 55%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;

  .rotating-img-container {
    position: absolute;
    width: 95%;
    z-index: 1;
  }

  .avatar {
    width: 55%;
    position: absolute;

    img {
      border-radius: 50%;
    }
  }
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

.rotating {
  display: inline-block;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}