.skills-container {
    min-height: 50rem;
    padding-top: 6rem;
    padding-bottom: 7rem;
    padding-inline: 1rem;
    max-width: 1500px;
    margin: 0 auto;

    @media only screen and (max-width: 799px) {
        padding-top: 4.5rem;
    }
}

.skills-contents {
    display: flex;
    gap: 6rem;
    padding-inline: 3.5rem;
    
    @media only screen and (max-width: 1023px) {
        flex-direction: column;
        gap: 2rem;
    }

    @media only screen and (max-width: 799px) {
        padding-inline: 0;
    }
}

.web-dev-skills {
    width: 100%;
    margin: 0 auto;

    opacity: 0;
    transition: all 1s;

    p {
        position: absolute;
        padding: 10rem;
    }
}

.design-cms-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    opacity: 0;
    transition: all 1s;

    @media only screen and (max-width: 1023px) {
        gap: 2rem;
    }
}

.show {
    opacity: 1;
}