@import url('../../global.styles.scss');

.skills-container {
    min-height: 58rem;
}

.skills-contents {
    display: flex;
    gap: 6rem;
    padding-inline: 3.5rem;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.web-dev-skills {
    width: 100%;
    margin: 0 auto;

    p {
        position: absolute;
        padding: 10rem;
    }
}

.design-cms-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.show {
    opacity: 1;
    transform: translateY(0);
}