@import url('../../global.styles.scss');

.skills-container {
    height: 100vh;
}

.skills-content {
    width: 60%;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;

    p {
        position: absolute;
        padding: 10rem;
    }
}