@import '../../global.styles.scss';



.navlinks-container {
    display: flex;
    justify-content: center;
    gap: 2.25rem;
    padding: 1rem;
}

.link {
    transition: all .5s ease-in-out;
    opacity: .5;
    position: relative;

    .left-bracket { 
        position: absolute;
        left: -1rem;
        top: 0;
        color: $primary-color;
    }
    
    .right-bracket { 
        position: absolute;
        right: -1rem;
        top: 0;
        color: $primary-color;
    }
}

.hovered {
    transition: all .2s ease-in-out;
    opacity: 1;
}