.contact-container {
    height: 100vh;
}

.contact-details {
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
}

form {
    gap: 1rem;
    width: 45%;
    padding-inline: 4rem;
}

.highlight-container {
    width: 55%;
    border: 3px solid var(--semidarkblue);
    border-radius: 1rem;
    background-color: rgb(1, 22, 39);
    padding: 1rem 3rem;

    &:hover {
        border-color: var(--lightblue);
        box-shadow: 0 0 80px rgba(120, 204, 226, 0.8);
    }

    .pre-content {
        font-size: 1.4rem;
        line-height: 1.7rem;
        height: 100%;
    }
}