.contact-container {
    min-height: 62rem;
}

.contact-details {
    display: flex;
    justify-content: space-between;
    padding-inline: 3rem;
    align-items: start;

    @media only screen and (max-width: 1024px) {
        flex-direction: column;
    }
}

form {
    gap: 1rem;
    width: 100%;
    padding-inline: 4rem;
}

.highlight-container {
    width: 100%;
    border: 3px solid var(--semidarkblue);
    border-radius: 1rem;
    background-color: rgb(1, 22, 39);
    padding: 1.5rem 3rem;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease, transform 0.5s ease;

    &:hover {
        border-color: var(--lightblue);
        box-shadow: 0 0 80px rgba(120, 204, 226, 0.8);
    }

    .pre-content {
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
}

.form-btn {
    width: 30%;
    margin: 0 auto;
}

.hide-form {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}