.contact-container {
    min-height: 50rem;
    padding-top: 6rem;
    padding-inline: 1rem;
    max-width: 1500px;
    margin: 0 auto;

    @media only screen and (max-width: 799px) {
        padding-top: 4.5rem;
    }
}

.contact-details {
    display: flex;
    justify-content: space-between;
    padding-inline: 3rem;
    align-items: start;

    @media only screen and (max-width: 1023px) {
        flex-direction: column;
    }

    @media only screen and (max-width: 799px) {
        padding-inline: 0;
    }
}

form {
    gap: 1rem;
    width: 45%;
    padding-inline: 4rem;

    @media only screen and (max-width: 1023px) {
        width: 100%;
    }

    @media only screen and (max-width: 799px) {
        padding-inline: 0;
    }
}

.highlight-container {
    width: 55%;
    border: 3px solid var(--semidarkblue);
    border-radius: 1rem;
    background-color: rgb(1, 22, 39);
    padding: 1.5rem 3rem;
    
    opacity: 0;
    transition: all 1s;

    &:hover {
        border-color: var(--lightblue);
        box-shadow: 0 0 80px rgba(120, 204, 226, 0.8);
    }

    .pre-content {
        font-size: 1.4rem;
        line-height: 1.7rem;
    }

    @media only screen and (max-width: 1023px) {
        width: 100%;
    }
}

.form-btn {
    width: 30%;
    margin: 0 auto;
}

.hide-form {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}