@mixin shrinkLabel {
  top: -30px;
  font-size: 1rem;
  color: var(--white);
}

.group {
  position: relative;
  margin: 2.5rem 0;

  textarea {
    resize: none;
  }

  .form-input {
    background: none;
    background-color: var(--icewhite);
    color: var(--black);
    font-size: 18px;
    padding: .8rem;
    display: block;
    width: 100%;
    border: .3rem solid var(--semidarkblue);
    border-radius: 1rem;
    margin: 1rem 0;
    transition: all 1s;

    &:hover {
      border-color: var(--lightblue);
    }

    &:focus {
      outline: none;
      border-color: var(--lightblue);
      box-shadow: 0 0 40px rgba(120, 204, 226, 0.8);
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  .form-input-label {
    color: var(--black);
    font-size: 1.2rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 13px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}