$primary-color: #78CCE2;
$secondary-color: #3B6591; 
$color-white: #fff;
$color-black: #000;
$font-regular: "poppins-regular";
$font-black: "poppins-black";
$font-bold: "poppins-bold";
$font-semi-bold: "poppins-semibold";

:root {
  --black: #000000;
  --white: #ffffff;
  --icewhite: #ebebeb;
  --grey: #5d5d5d;
  --lightblue: #78CCE2;
  --semidarkblue: #3B6591;
  --darkblue: #1a2238;
  --blackblue: #0c1220;
  --orange: #ff6a3d;
  --box-shadow-color: inherit;
  --transparent: transparent;
  --rt-opacity: 1;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/images/bg.png') center/cover no-repeat;
  background-attachment: fixed;
  color: $color-white;
}

/* FONT IMPORTS */
@font-face {
  font-family: $font-bold;
  src: url("./assets/fonts/font3.woff2") format('woff2');
}
@font-face {
  font-family: $font-semi-bold;
  src: url("./assets/fonts/font2.woff2") format('woff2');
}
@font-face {
  font-family: $font-black;
  src: url("./assets/fonts/font4.woff2") format('woff2');
}
@font-face {
  font-family: $font-regular;
  src: url("./assets/fonts/font1.woff2") format('woff2');
}

a {
  text-decoration: none;
  font-family: $font-semi-bold;
  font-size: 1.5rem;
  color: $color-white;
}

h1 {
  font-size: 3rem;
  font-family: $font-bold;
}

h2 {
  font-size: 2.5rem;
  font-family: $font-semi-bold;
}

h3 {
  font-size: 1.8rem;
  font-family: $font-semi-bold;
}

img {
  width: 100%;
  height: 100%;
}

.main-btn {
  background-color: var(--semidarkblue);
}

.main-btn:hover {
  background-color: var(--white);
  color: var(--darkblue);

}

.secondary-btn {
  background-color: var(--semidarkblue);
}

.secondary-btn:hover {
  background-color: var(--black);
}